{% load i18n %}

{% now "Y" as current_year %}
<nav class="navbar navbar-dark bg-primary" style="width: 100%;">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-footer" aria-controls="navbar-footer" aria-expanded="false" aria-label="Toggle navigation"></button>
	<div class="collapse navbar-toggleable-xs" id="navbar-footer">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<div class="nav-link">
			  		&copy; 2014 - {{ current_year }} Ciano Saraiva
			  	</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'base:about' %}">{% trans "About" %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'base:terms' %}">{% trans "Terms of Use" %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'base:privacy' %}">{% trans "Privacy Policy" %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'base:contact' %}">{% trans "Contact Us" %}</a>
			</li>
		</ul>
	</div>
</nav>