{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_modify %}

{% block content %}
	{% include 'base/blocks/css.html' %}
	{% include 'base/blocks/js.html' %}

	<form action="#" method="POST">
		{% csrf_token %}
		<ul class="list-group">
		{% for result in results %}
			<li class="list-group-item">
				<input type="hidden" name="result_{{ forloop.counter }}" value="{{ result.id }}">
				{{ result }}
			</li>
			{% empty %}
			<li class="list-group-item">{% trans "No item found" %}</li>
		{% endfor %}
		</ul>
		</br>
		<div class="align-xs-rigth">
			<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
		</div>
	</form>

	{% include 'base/imports/sortable.html' %}
	<script type="text/javascript">
		$(document).ready(function() {
			var results = $('.list-group').sortable({
				onDrop: function($item, container, _super, event){
					$item.removeClass("dragged").removeAttr("style")
      				$("body").removeClass("dragging");
      				update_ids();
				},
			});

			function update_ids(){
				$(".list-group > .list-group-item > input[type='hidden']").each(function(index){
					index++;
					$(this).attr("name", "result_" + index);
				});
			}
		});
	</script>
	
{% endblock %}