{% extends "base/_base.html" %}

{% load static i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "ask/css/base.css" %}" />
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="jumbotron p-1 text-xs-center" style="background-color: transparent;">
			<div class="container">
				<img src="{% static 'base/img/logo_with_name.png' %}" class="mb-1" style="max-height: 15vh; max-width: 100%;"/>
				<p class="h4">
					{% blocktrans %}
					Aprenda matemática de uma forma mais divertida e emocionante. 
					São diversas lições para aasdasdas daisjdi ajsdi jasidjai s idas jdiajs idjias jd
					{% endblocktrans %}
				</p>
				<a href="" class="btn btn-primary">
					<i class="fa fa-list"></i>
					{% trans "See Courses" %}
				</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row text-xs-center">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<img src="{% static 'ask/img/resourcers/calls.png' %}" alt="Generic placeholder image" width="140" height="140">
			<h4>
				<a href="{% url 'ask:course_list' %}">{% trans "Coursers" %}</a>
			</h4>
			<p>{% trans "Veja no mapa onde está cada um de seus filhos." %}</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<img src="{% static 'ask/img/resourcers/calls.png' %}" alt="Generic placeholder image" width="140" height="140">
			<h4>
				<a href="{% url 'competition:challenge_list' %}">{% trans "Challenges" %}</a>
			</h4>
			<p>{% trans "Escute todas as chamadas realizadas e recebidas por seus filhos." %}</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<img src="{% static 'ask/img/resourcers/calls.png' %}" alt="Generic placeholder image" width="140" height="140">
			<h4>
				<a href="{% url 'forum:topic_list' %}">{% trans "Forum" %}</a>
			</h4>
			<p>{% trans "Escute todas as chamadas realizadas e recebidas por seus filhos." %}</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<img src="{% static 'ask/img/resourcers/calls.png' %}" alt="Generic placeholder image" width="140" height="140">
			<h4>
				<a href="{% url 'blog:post_list' %}">{% trans "Blog" %}</a>
			</h4>
			<p>{% trans "Escute todas as chamadas realizadas e recebidas por seus filhos." %}</p>
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static "ask/js/base.js" %}"></script>
{% endblock %}