{% extends "base/_base.html" %}

{% load static i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "ask/css/base.css" %}" />
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
{% endblock %}

{% block page_title %}
	<div class="row">
		<img src="{% static 'base/img/logo.png' %}" class="img-logo img-raised"/>
	</div>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="jumbotron text-xs-center">
			<div class="container">
				<p class="h3 font-external-primary">
				Aprenda matemática de uma forma mais divertida e emocionante. 
				São diversas lições para aasdasdas daisjdi ajsdi jasidjai s idas jdiajs idjias jd
				</p>
				<a href="{% url 'ask:course_list' %}" class="btn btn-primary btn-lg">{% trans "Get started today" %}</a>
				<hr/>
			</div>
		</div>
	</div>
</div>

<div class="container marketing">
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h2>{% trans "Problems" %}</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h2>{% trans "Videos" %}</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h2>{% trans "Forum" %}</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
	<hr/>
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">{% trans "Mathematic" %}</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-fluid mx-auto" src="{% static 'base/img/featurette/f.jpg' %}">
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-fluid mx-auto" src="{% static 'base/img/featurette/f.jpg' %}" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">{% trans "Programing" %}</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static "ask/js/base.js" %}"></script>
{% endblock %}