certifi==2017.4.17
chardet==3.0.4
Django==1.11.3
django-filter==1.0.4
django-js-reverse==0.7.3
django-rosetta==0.7.13
django-versatileimagefield==1.7.1
djangorestframework==3.6.3
docutils==0.13.1
idna==2.5
microsofttranslator==0.8
olefile==0.44
Pillow==4.0.0
polib==1.0.8
psycopg2==2.7.3
pytz==2017.2
requests==2.18.2
six==1.10.0
urllib3==1.22
