{% extends "ask/video/list.html" %}


{% load i18n %}

{% block title %}
	{{ video }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:video_detail' issue_slug=issue.slug lesson_slug=lesson.slug slug=video.slug %}" class="breadcrumb-item" >
		<i class="fa fa-film"></i>
		{{ video }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ video }}
{% endblock %}

{% block content %}
	<div class="col-md-6">
		<div class="row">
			<video controls="true" class="full-width full-height">
				<source src="{{ video.url }}" type='video/mp4' />
				<source src="{{ video.url }}" type='video/webm' />
			</video>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="jumbotron">
				<div class="container-fluid">
					<p class="lead text-justify">{{ video.description }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}