{% extends "ask/lesson/list.html" %}


{% load i18n %}

{% block title %}
	{% trans "Videos" %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:video_list' course_slug=course.slug lesson_slug=lesson.slug %}" class="breadcrumb-item" >
		<i class="fa fa-list"></i>
		{% trans "Videos" %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with lesson=lesson %}
		Videos of {{ lesson }}
	{% endblocktrans %}
{% endblock %}

{% block content %}
	{% for video in object_list %}
		<div class="tile {{ video.color }}">
			<a href="{% url 'ask:video_detail' course_slug=course.slug lesson_slug=lesson.slug slug=video.slug %}" class="tile-content {% if lesson.icon %}image-set{% else %}iconic{% endif %}">
				<span class="icon fa fa-film"></span>
			</a>
			<span class="tile-label">{{ video.title }}</span>
		</div>
	{% empty %}
		<div class="jumbotron">
			<div class="container-fluid">
				<p class="lead">{% trans "No found videos." %}</p>
			</div>
		</div>
	{% endfor %}

	{% include "base/_paginate.html" %}
{% endblock %}