{% extends "courses/video/list.html" %}


{% load i18n %}

{% block title %}
	{{ video }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'courses:video_detail' course_slug=course.slug lesson_slug=lesson.slug slug=video.slug %}" class="breadcrumb-item" >
		<i class="fa fa-film"></i>
		{{ video }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ video }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<video controls="true" class="w-100 h-100">
				<source src="{{ video.url }}" type='video/mp4' />
				<source src="{{ video.url }}" type='video/webm' />
			</video>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<div class="container-fluid">
					<p class="lead text-justify">{{ video.description }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}