{% extends "forum/topic/detail.html" %}


{% load i18n %}

{% block title %}{% trans "Confirm delete" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="#" class="breadcrumb-item" >
		<i class="fa fa-remove"></i>
		{% trans "Confirm delete" %}
	</a>
{% endblock %}

{% block content %}
	<div class="col-xs-12 col-sm-4 col-md-3 text">
		{% include 'forum/category/list.html' %}
	</div>

	<div class="col-xs-12 col-sm-8 col-md-9">
		{% include 'base/_check_delete.html' %}
	</div>
{% endblock %}