{% extends 'forum/topic/detail.html' %}

{% load i18n %}

{% block title %}
	{% trans "Form Comment" %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'forum:topic_add' category_slug=category.slug" class="breadcrumb-item" >
		<i class="fa fa-hashtag"></i>
		{% trans "Form Comment" %}
	</a>
{% endblock %}

{%  block page_title %}
	{% trans "Form Comment" %}
{% endblock %}

{% block content %}	
	
	<div class="col-md-6">
		<form class="full-width" action="#" method="post" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
			{% csrf_token %}

			{% include 'base/_fields.html' %}

			<div class="container-fluid">
				<div class="float-xs-right">
					{% if comment_edit %}
					<a href="{% url 'forum:topic_detail' category_slug=category.slug slug=topic.slug %}" class="btn btn-secondary">
						<i class="fa fa-minus-circle"></i>
						{% trans "Cancel" %}
					</a>
					{% endif %}
					<button type="submit" tabindex="{{ form.visible_fields|length|add:1 }}" class="btn btn-primary">{% trans "Save" %}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<label>{% trans "Preview is shown here:" %}</label>
		<div id="MathPreview" style="border:1px solid; padding: 3px; width:100%; margin-top:5px"></div>
		<div id="MathBuffer"  style="border:1px solid; padding: 3px; width:100%; margin-top:5px; visibility:hidden;"></div>
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/latex_preview.html" with id='id_text' id_preview='MathPreview' id_buffer='MathBuffer'  %}
{% endblock %}