<ul>
	<li>Python - https://www.python.org</li>
	<li>Django - https://www.djangoproject.com</li>
	<li>Metro Ui CSS - https://metroui.org.ua</li>
	<li>Rosetta Package - https://pypi.python.org/pypi/django-rosetta</li>
	<li>Django REST framework - http://www.django-rest-framework.org</li>
	<li>Python Social Auth - http://psa.matiasaguirre.net/docs/index.html</li>
	<li>Jquery - https://jquery.com</li>
	<li>Jquery UI - https://jqueryui.com</li>
	<li>Highcharts - http://www.highcharts.com</li>
	<li>MathJax - https://www.mathjax.org</li>
	<li>WebKit - http://www.webkit.org</li>
	<li>Web Animation - https://github.com/web-animations/web-animations-js</li>
	<li>Select2 - https://select2.github.io</li>
	<li>Celery - http://www.celeryproject.org</li></li>
</ul>