<p>
A PET - Tecnologia da Informação (dba "AskMath<sup>TM</sup>") compromete-se a garantir a
sua informação. Esta Política de Privacidade regula a forma como coletamos, usamos, mantemos
e divulgamos as informações coletadas de clientes e usuários de nosso site, aplicativo móvel
e outros serviços oferecidos por nós.
</p>

<p>Esta Política de Privacidade abrange o seguinte:</p>

<ul style = "list-style-type: lower-latin;">
	<li>Coleta, uso e divulgação de informações pessoais;</li>
	<li>Acesso, edição e exclusão de informações pessoais;</li>
	<li>Armazenamento e processamento de informações pessoais;</li>
	<li>Cookies e informações recuperadas automaticamente;</li>
	<li>Segurança da conta;</li>
	<li>Links para sites externos.</li>
</ul>

<p>
	Visitante: Você pode navegar e acessar informações contidas neste site sem fornecer pessoalmente
	informações identificáveis. No entanto, algumas informações são recuperadas automaticamente enquanto você visita este site
	ou usa a aplicação móvel AskMath<sup>TM</sup>.
</p>

<p>
	Informações pessoais: Para se inscrever para determinados serviços neste site e em nosso aplicativo móvel,
	você pode precisar enviar informações pessoais, como seu endereço de e-mail, nome, endereço físico,
	número de telefone. Você pode ser solicitado a enviar mais informações através deste site de tempos em tempos.
</p>


<p>Utilização de informações: as suas informações pessoais só serão utilizadas para:</p>

<ul style = "list-style-type: lower-latin;">
	<li>fornecer os serviços AskMath<sup>TM</sup> para você;</li>
	<li>verificar se você tem o direito de se registar como assinante AskMath<sup>TM</sup>;</li>
	<li>comunicar-se com você e/ou sua organização em relação a este site,
	os Serviços AskMath<sup>TM</sup> e/ou sua assinatura; </li>
	<li>mantê-lo informado e promover produtos e/ou serviços atuais ou planejados
	da AskMath<sup>TM</sup> e da PET - Tecnologia da Informação e nossos parceiros comerciais selecionados;</li>
	<li>conduzir pesquisas de mercado, gerar e fornecer informações estatísticas e de classificação;</li>
	<li>responder a reclamações ou reclamações feitas por você ou sua organização;</li>
	<li>cooperar com o Governo, a indústria ou as autoridades reguladoras;</li>
	<li>conduzir atividades de controle de crédito e cobrança de dívidas (incluindo registrar dívidas vencidas
	devidos à PET - Tecnologia da Informação com agências de referência de crédito).</li>
</ul>

<p>
	Divulgação de informações: a menos que nos tenha autorizado a fazê-lo, AskMath<sup>TM</sup>
	não alugará nem venderá suas informações pessoais e não a divulgará a terceiros, exceto:
</p>

<ul style = "list-style-type: lower-latin;">
	<li>quando a divulgação está relacionada com os fins para os quais a informação foi recolhida;</li>
	<li>para nossos provedores de serviços, agências de referência de crédito e agências de cobrança de dívidas, e parceiros comerciais selecionados;</li>
	<li>às autoridades competentes, às partes e/ou aos titulares de direitos de propriedade intelectual
	(ou seus representantes) se considerarmos que você está violando os direitos da AskMath<sup>TM</sup>; ou </li>
	<li>quando exigido ou permitido, por lei.</li>
</ul>

<p>
	Armazenamento e processamento: AskMath<sup>TM</sup> armazena e processa suas informações pessoais
	nos Brazil ou em qualquer outro país em que a PET - Tecnologia da Informação ou nossos parceiros 
	comerciais selecionados mantêm facilidades para isso. As suas informações pessoais podem
	portanto, ser transferido para fora dos Brazil.</p>
<p>
	Retenção: AskMath<sup>TM</sup> manterá suas informações pessoais antes e depois da
	rescisão ou cancelamento da sua assinatura, mas apenas enquanto estiver usando legalmente as informações.
</p>
<p>
	Cookies: Quando você entrar neste site, seu computador será automaticamente associado a um cookie.
	Estes são arquivos de texto que identificam seu computador para o nosso servidor, de modo que quando você visita o site
	novamente, o cookie identificará o seu computador para o servidor da Web de AskMath<sup>TM</sup>.
	Isso nos permite melhorar a velocidade e a confiabilidade deste site e fornecer um melhor serviço.
	Os cookies em si não identificam usuários individuais e não são usados ​​para coletar ou armazenar
	informações sobre você. Os visitantes têm a capacidade de definir seus computadores para notificá-los quando um cookie é
	associado, ou para rejeitar quaisquer cookies, mas este último significa que certos servisos do 
	AskMath<sup>TM</sup> não serão fornecidos ao visitante.
</p>
<p>
	Informações recuperadas automaticamente: algumas informações podem ser recuperadas automaticamente enquanto você
	acessar e navegar neste site, incluindo:
</p>

<ul style = "list-style-type: lower-latin;">
	<li>os recursos que você usa, as páginas que você visita e as ações que você executa neste site;</li>
	<li>o seu endereço IP (ou seja, a localização do seu computador na Internet);</li>
	<li>o nome de domínio do qual você está acessando a internet; e</li>
	<li>o navegador e o mecanismo de pesquisa (se houver) que o computador usa.</li>
</ul>

<p>
	Finalidade: As informações recuperadas automaticamente são utilizadas em estatística e
	formatos para avaliar a eficácia e melhorar este site e os serviços do
	AskMath<sup>TM</sup>, e para determinar as preferências e interesses de nossos visitantes.
</p>
<p>
	Segurança do AskMath<sup>TM</sup>: Para evitar o acesso não autorizado, mantenha a precisão dos dados e assegure
	o uso apropriado de qualquer informação fornecida por você, AskMath<sup>TM</sup> implementou sistemas
	físicos, eletrônicos e gerenciais para proteger suas informações. Além disso, todas as informações de usuários 
	armazenadas neste site estão protegidas contra o acesso não autorizado através da utilização de
	informações de login e outros procedimentos de segurança.
</p>
<p>
	Sua segurança: Você deve manter qualquer login, senha ou informações de conta relacionadas ao seu uso deste
	site seguro em todos os momentos.
</p>
<p>
	Este site contém links para sites externos. PET - Tecnologia da Informação não é responsável pela privacidade e
	políticas de qualquer desses sites externos. Esta Política de Privacidade aplica-se unicamente às informações do
	AskMath<sup>TM</sup>.
</p>

<p>
	Atualizado em 04/07/2017.
</p>