<ul>
	<li> Termos
		<ol>
			<li>
				Ao usar o site AskMath<sup>TM</sup> e os aplicativos móveis (Serviço), você 
				está concordando em ficar vinculado pelos seguintes termos e condições.
			</li>
			<li>
				Reservamo-nos o direito de atualizar e alterar os Termos sem aviso prévio e de adicionar novos recursos 
				que estarão sujeitos aos Termos. Se continuar a utilizar o Serviço após quaisquer alterações, 
				serão tomadas para ter concordado com as alterações. Você pode sempre encontrar a versão atual dos 
				Termos a qualquer momento em: <a href="/termos">termos e condições</a>.
			</li>
			<li>
				Se não cumprir qualquer um dos Termos, poderemos rescindir a sua Conta. Reservamo-nos o direito 
				de recusar o serviço a qualquer pessoa por qualquer motivo a qualquer momento.
			</li>
		</ol>
	</li>
	<li>Propriedade Intelectual
		<ol>
			<li>
				A propriedade intelectual e marca registrada do AskMath<sup>TM</sup> pertence a
				PET - Tecnologia da Informação. Este site e seu conteúdo original, recursos e funcionalidade
				são propriedade da PET - Tecnologia da Informação, detentora da licença exclusiva de
				AskMath<sup>TM</sup>. AskMath<sup>TM</sup> e este site estão protegidos pelos
				direitos de autor internacionais, marcas comerciais, patentes, segredos comerciais e outras
				propriedades ou direitos de propriedade. 
			</li>
		</ol>
	</li>
	<li>Suas responsabilidades
		<ol>
			<li>
				Você precisará fornecer à PET - Tecnologia da Informação algumas informações solicitadas para completar o
				processo de inscrição para obter uma conta.
			</li>
			<li>
				Você é responsável por manter a segurança de sua conta e senha. PET - Tecnologia da Informação não é
				responsável por qualquer perda ou dano se você não cumprir com esta obrigação de segurança.
			</li>
			<li>
				Uma vez que seu conteúdo foi aprovado pela PET - Tecnologia da Informação e publicado, você é responsável por todos as
				alterações, exclusões e atividades que ocorrem em sua conta.
			</li>
			<li>
				Você não pode usar este serviço para qualquer finalidade ilegal ou não autorizada. Você não deve, no
				uso deste serviço, violar quaisquer leis em sua jurisdição (incluindo, mas não limitado
				aos direitos autorais ou outras leis de propriedade intelectual.) </li>
			<li>
				Você não pode fornecer informações de acesso à outras pessoas.
			</li>
		</ol>
	</li>
	<li>Custo
		<ol>
			<li>
				Salvo disposição em contrário em contrato específico com a PET - Tecnologia da Informação, trata-se de
				serviço. Vamos faturar antecipadamente em uma frequência, dependendo do plano que você
				selecione, e esta taxa não é reembolsável. Não faremos nenhum reembolso ou crédito por
				meses de serviço ou reembolsos por meses quando você não usa sua conta.
			</li>
			<li>
				Todas as taxas são exclusivas de todos os impostos. Você indenizará e nos manterá inofensivo
				contra quaisquer reclamações por parte de qualquer autoridade fiscal e por qualquer pagamento insuficiente de
				quaisquer vendas, utilização, bens e
				serviços, valor agregado ou outro imposto ou taxa, e quaisquer penalidades e/ou juros. 
			</li>
			<li>
				Após o pagamento, seu acesso será liberado. Se o pagamento for feito por transações on-line,
				a liberação é imediata, em casos de pagamento via boleto, pode levar um tempo igual ou maior a 3 dias úteis.
			</li>
		</ol>
	</li>
	<li> Conteúdo
		<ol>
			<li>
				Você mantém a propriedade de seu conteúdo. Você autoriza a PET - Tecnologia da Informação 
				incluir seu conteúdo no banco de dados do AskMath<sup>TM</sup> e publicá-lo neste  
				site e através da aplicação móvel AskMath<sup>TM</sup>.
			</li>
			<li>
				Ao usar o Serviço, você confirma que:
				<ul style="list-style: lower-latin">
					<li>
						você tem o direito de usar o serviço, para reproduzir e distribuir todo o Conteúdo,
						a autorizar-nos a permitir que os usuários finais baixem e usem o Conteúdo
						um ou mais dos nossos Apps;
					</li>
					<li>
						nenhum dos conteúdos, nossos, ou das utilizações relevantes dos utilizadores finais do
						conteúdo violará ou infringirá qualquer propriedade intelectual ou direitos contratuais de
						qualquer outra pessoa;
					</li>
					<li>
						todo o conteúdo está autorizado a ser distribuído em cada um dos países nos quais 
						nossos aplicativos são disponibilizados; 
					</li>
					<li>
						nenhum conteúdo contém quaisquer materiais obscenos, ofensivos ou outros que
						são proibidas ou restringidas pela legislação de qualquer dos países em que a
						as aplicações estão disponíveis;
					</li>
					<li>
						todas as informações que você nos deu são precisas e você nos atualizará prontamente se
						deixar de ser preciso.
					</li>
				</ul>
			</li>
			<li>
				Você será responsável por todas e quaisquer reivindicações, ou perdas, danos, custos e despesas
				decorrentes do seu conteúdo. Em particular, você será responsável por quaisquer reclamações e
				conteúdo que infringa os direitos de autor ou outros direitos de propriedade intelectual de
				terceiro.
			</li>
		</ol>
	</li>
	<li>Término
		<ol>
			<li>
				Você pode cancelar sua conta a qualquer momento. Os pedidos de cancelamento de conta devem ser
				através do site do Serviço.
			</li>
			<li>
				Caso você não tenha mais o direito legal de distribuir seu conteúdo, você terá que
				notificar imediatamente a PET - Tecnologia da Informação. 
			</li>
			<li>
				Temos o direito de cancelar a sua Conta a qualquer momento, com ou sem motivo, fornecendo
				aviso para você. Poderíamos fazer isso se acreditarmos que:
				<ol style = "list-style: lower-roman">
					<li>
						o conteúdo não pode ser distribuído para um país onde nossos Aplicativos estão
						disponibilizado; 
					</li>
					<li>
						o conteúdo infringe os direitos de propriedade intelectual de terceiros; ou 
					</li>
					<li> 
						a distribuição, venda ou uso do conteúdo viola qualquer lei em qualquer país onde nossos aplicativos estão disponíveis. 
						Tal cessação do Serviço resultará na desativação ou exclusão de sua Conta ou seu acesso à sua conta.
					</li>
				</ol>
			</li>
		</ol>
	</li>

	<li>Alteração do Serviço
		<ol>
			<li> 
				Reservamo-nos o direito de modificar ou descontinuar, temporariamente ou permanentemente, o
				serviço (ou qualquer parte dele) com ou sem aviso prévio. Não seremos responsáveis ​​perante si ou por terceiros por
				qualquer modificação, alteração de preço, suspensão ou interrupção do serviço.
			</li>
			<li>
				Podemos usar fornecedores de terceiros e parceiros de hospedagem para fornecer o hardware,
				software, rede, armazenamento e tecnologia relacionada necessários para executar o serviço. O serviço
				é, portanto, fornecido "tal como está" e "como disponível" em base. Não garantimos que o Serviço
				irá atender às suas necessidades específicas, ou que o serviço será ininterrupto, oportuno, seguro,
				ou livre de erros.
			</li>
			<li> 
				Você concorda que não seremos responsáveis ​​por quaisquer danos diretos, indiretos, incidentais, especiais ou
				consequência resultante da utilização ou incapacidade de utilização do Serviço.
			</li>
			<li>
				De tempos em tempos, podemos publicar uma atualização para nossos aplicativos que podem adicionar, modificar e/ou remover
				características. Faremos tudo o que estiver ao nosso alcance para informá-lo antecipadamente sobre essas mudanças.
				Essas atualizações podem ser enviadas automaticamente com pouco ou nenhum aviso. 
			</li>
		</ol>
	</li>
	<li>Definições
		<ol>
			<li>Nestes Termos:
				<ul style = "list-style: lower-latin">
					<li>
						uma referência a "nós" ou "nós" refere-se a AskMath<sup>TM</sup> e PET - Tecnologia da Informação;
					</li>
					<li>
						uma referência a "você" ou "sí" é uma referência a um usuário do Serviço;
					</li>
					<li>
						"Conta" significa sua conta conosco que é criada quando você se inscreve para usar
						o Serviço através do nosso website; </li>
					<li> 
						"Apps" significa as aplicações de AskMath<sup>TM</sup> criadas pela PET - Tecnologia da Informação;
					</li>
					<li>
						"Conteúdo" significa o conteúdo que você cria e faz upload para o nosso site; e
					</li>
				</ul>
			</li>
		</ol>
	</li>
	<li>Lei Aplicável
		<p>Este acordo (e quaisquer outras regras, políticas ou diretrizes incorporadas por referência) será
	 	governado e interpretado de acordo com as leis do Brasil.</p>
	</li>
</ol>

<p>
	Atualizado em 04/07/2017.
</p>