<ol>
	<li>Terms
		<ol>
			<li>By using the AskMath<sup>TM</sup> website and mobile applications (Service) you
				are agreeing to be bound by the following terms and conditions. </li>
			<li>We reserve the right to update and change the Terms without notice, and to add new features
				that will be subject to the Terms. If you continue to use the Service after any changes, you
				will be taken to have agreed to the changes. You can always find the current version of the
				Terms at any time at: <a href="/terms">terms and conditions</a>.</li>
			<li>If you do not abide by any of the Terms we may terminate your Account. We reserve the right
				to refuse the Service to anyone for any reason at any time. </li>
		</ol>
	</li>
	<li>Intellectual Property
		<ol>
			<li> The intellectual property and trademark for AskMath<sup>TM</sup> is owned by the
				Ciano Saraiva. This site and its original content, features and functionality
				are owned by Ciano Saraiva who holds the exclusive license to market
				AskMath<sup>TM</sup>. AskMath<sup>TM</sup> and this site are protected
				by international copyright, trademark, patent, trade secret and other intellectual
				property or proprietary rights law.</li>
		</ol>
	</li>
	<li>Your Responsibilities
		<ol>
			<li>You will need to provide Ciano Saraiva with certain information requested in order to complete the
				signup process to obtain an account.
			</li>
			<li>You are responsible for maintaining the security of your account and password. Ciano Saraiva is not
				liable for any loss or damage if you fail to comply with this security obligation.
			</li>
			<li>Once your content has been approved by Ciano Saraiva and published you are responsible for all
				changes, alterations, deletions and activity that occurs under your account.
			</li>
			<li> You may not use this service for any illegal or unauthorized purpose. You must not, in the
				use of this service, violate any laws in your jurisdiction (including but not limited
				to copyright or other intellectual property laws.)</li>
		</ol>
	</li>
	<li>Cost
		<ol>
			<li> Unless otherwise stated in a specific contract with Ciano Saraiva, this is a subscription based
				service. We will bill you in advance on a monthly or yearly basis depending on the plan you
				select and this fee is non-refundable. We will not make any refunds or credits for partial
				months of service or refunds for months when you do not use your account.
			</li>
			<li> All fees are exclusive of all taxes. You will indemnify and hold us harmless
				against any claims by any tax authority for any underpayment of any sales, use, goods and
				services, value added or other tax or levy, and any penalties and/or interest. </li>
		</ol>
	</li>
	<li>Content
		<ol>
			<li>You retain ownership of your content. You authorize Ciano Saraiva and the Ciano Saraiva
				to include your content in the AskMath<sup>TM</sup> database and to publish it on
				this website and through the AskMath<sup>TM</sup> mobile application. </li>
			<li> By using the Service, you confirm that:
				<ul style="list-style: lower-latin">
					<li>you have the right to use the Service, to reproduce and distribute all of the Content,
						and to authorize us to allow end-users to download and use the Content through
						one or more of our Apps;</li>
					<li>none of the Content, or our, or the relevant App Store’s or end-users’ uses of the
						Content will violate or infringe any intellectual property or contractual rights of
						any other person;</li>
					<li>all of the Content is authorized to be distributed into each of the countries in which
						our Apps are made available; </li>
					<li>none of the Content contains any obscene, offensive or other materials that
						areprohibited or restricted under the laws of any of the countries in which our
						Apps are made available;</li>
					<li>all information you have given us is accurate and you will promptly update us if it
						stops being accurate.</li>
				</ul>
			</li>
			<li> You will be responsible for any and all claims, or losses, damages, costs and expenses
				arising out of your Content. In particular, you will be responsible for any claims that any
				of the Content infringes the copyright or other intellectual property rights of any
				third party. </li>
		</ol>
	</li>
	<li>Termination
		<ol>
			<li>You can cancel your Account at any time. Account cancellation requests must be submitted in
				writing through the Service website.</li>
			<li> In the event that you no longer have the legal right to distribute your Content, you will
				notify Ciano Saraiva immediately.</li>
			<li>
				 We are entitled to cancel your Account at any time, with or without cause, by providing
				notice to you. We might do that if we believe that:
				<ol style="list-style: lower-roman">
					<li>the Content is not allowed to be distributed to a country where our Apps are
						made available; </li>
					<li>the Content infringe a third party’s intellectual property rights; or </li>
					<li>the distribution, sale or use of the Content violates any law in any country where
						our Apps are made available. Such termination of the Service will result in the
						deactivation or deletion of your Account or your access to your Account. </li>
				</ol>
			</li>
		</ol>
	</li>
	<li>Change of Service
		<ol>
			<li> We reserve the right at any time to modify or discontinue, temporarily or permanently, the
				Service (or any part of it) with or without notice. We will not be liable to you or to any third
				party for any modification, price change, suspension or discontinuance of the Service.
			</li>
			<li> We may use third party vendors and hosting partners to provide the necessary hardware,
				software, networking, storage, and related technology required to run the Service. The Service
				is therefore provided on an "as is" and "as available" basis. We do not warrant that the Service
				will meet your specific requirements, or that the Service will be uninterrupted, timely, secure,
				or error-free.
			</li>
			<li> You agree that we will not be liable for any direct, indirect, incidental, special, or
				consequential loss resulting from the use or the inability to use the Service. </li>
			<li> From time to time, we may issue an update to our Apps which may add, modify, and/or remove
				features. We will do everything we can to let you know about these changes in advance, but
				these updates may be pushed out automatically with little or no notice. </li>
		</ol>
	</li>
	<li>Definitions
		<ol>
			<li> In these Terms:
				<ul style="list-style: lower-latin">
					<li>a reference to "we" or "us" refers to AskMath<sup>TM</sup> and Ciano Saraiva;</li>
					<li>a reference to "you" or "your" is a reference to a user of the Service; </li>
					<li>"Account" means your account with us which is created when you sign up to use
						the Service via our website; </li>
					<li>"Apps" means the AskMath applications created by Ciano Saraiva and on which your Tours are hosted;</li>
					<li>"Content" means the content you create and upload to our website; and </li>
					<li>"Back pack and Tours" means the organization of content that you create and upload
						to our website. </li>
				</ul>
			</li>
		</ol>
	</li>
	<li>Governing Law
		<p>This Agreement ( and any further rules, policies, or guidelines incorporated by reference) shall
			be governed and construed in accordance with the laws of Ceará, Brazil.</p>
	</li>
</ol>

<p>
	Updated in 22/02/2017.
</p>