{% extends "ask/index.html" %}


{% load i18n %}

{% block title %}{% trans "Issue list" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:issue_list' %}" class="breadcrumb-item" >
		<i class="fa fa-list"></i>
		{% trans "Issues" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Issue list" %}{% endblock %}

{% block content %}
	{% for issue in object_list %}
		<div class="tile {{ issue.color }}">
			<a href="{% url 'ask:lesson_list' issue.slug %}" class="tile-content {% if issue.icon %}image-set{% else %}iconic{% endif %}">
				{% if issue.icon %}
					<img src="{{ issue.icon.url }}" style="width: 100%;">
				{% else %}
					<span class="icon fa fa-book"></span>
				{% endif %}
			</a>
			<span class="tile-label">{{ issue }}</span>
		</div>
	{% endfor %}

	{% include "base/_paginate.html" %}
{% endblock %}