{% extends "ask/index.html" %}


{% load i18n %}

{% block title %}{% trans "Course list" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:course_list' %}" class="breadcrumb-item" >
		<i class="fa fa-list"></i>
		{% trans "Courses" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Course list" %}{% endblock %}

{% block content %}
	<div class="row">
	{% for course in object_list %}
		<a href="{% url 'ask:lesson_list' course.slug %}" class="tile {{ course.color }}">
			<div class="tile-content {% if course.icon %}image-set{% else %}iconic{% endif %}">
				{% if course.icon %}
					<img src="{{ course.icon.url }}" style="width: 100%;">
				{% else %}
					<span class="icon fa fa-leaf"></span>
				{% endif %}
			</div>
			<span class="tile-label">{{ course }}</span>
			{% if course.is_private %}
				<span class="tile-badge bg-yellow fg-white" data-toggle="tooltip" data-placement="top" title='{% blocktrans with amount=course.amount %}This course is private. Paid R${{ amount }} to access.{% endblocktrans %}'><i class="fa fa-star"></i></span>
			{% endif %}
		</a>
	{% endfor %}
	</div>
	<div class="row">
		{% include "base/_paginate.html" %}
	</div>
{% endblock %}