html, body {
	height: 100%;
	background-color: #eceeef;
}

.page-title{
	color:#FFF;
	background-color: #0275d8;
	border-color: #0275d8;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	margin: auto;
	margin-top: 0px;
	padding: 5px;
	font-weight: bold;
	width: 100%;
	line-height: 1.5;
}

.header{
    background-image: url('/static/img/header_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: 1px 0px 1px 0px;
}



.page-container{
	background-color: #ffa;
	padding: 5px 5px;
	width: 100%;
}

.sidebar, .sidebar > .sidebar-item{
	width: 100%;
	margin-right: 5px;
	font-weight: bold;
	color: #0275d8;
}

.sidebar-item.active{
	color: #fff;
}

.breadcrumb{
	margin-bottom: 0px;
}

.breadcrumb > .breadcrumb-item:last-child{
	color: #818a91;
}

.full-width{
	width: 100%;
	min-width: 100%;
}

.full-height{
	height: 100%;
}

.text{
	background-color: #fff;
	padding: 10px;
}

/* DEFINITION */
dl.definition{
	width: 100%;
}

dl.definition > dt, dl.definition > dd{
	padding: 10px;
	border-top: 1px solid #eee;
}

/* CARD */
.card{
	border: 1px solid #ddd;
}


ul.errorlist > li{
	color: red;
}

hr.divider{
	padding: 0px;
	margin-bottom: 10px solid #eee;
}

.hide{
	display: none;
}


/* FORMS */
.form-group{
	margin-bottom: 0px;
}

span.select2-selection--multiple{
	width: 100% !important;
}

input[type="email"]{
	width: 300px !important;
}

input[type="datetime"]{
	width: 150px !important;
}

input[type="number"], input[type="date"]{
	width: 200px !important;
}


.nav-link.active:after {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: -3rem;
  vertical-align: middle;
  content: "";
  border-right: .5rem solid transparent;
  border-bottom: .5rem solid;
  border-left: .5rem solid transparent;
}

.tag-sm{
	font-size: .6em;
}

/* Stepper */

.stepper {
  margin: 10px 0;
  width: 100%;
}
.stepper:before,
.stepper:after {
  display: table;
  content: "";
}
.stepper:after {
  clear: both;
}
.stepper > ul {
  counter-reset: li;
  border-top: 1px #1d1d1d dotted;
  position: relative;
  padding: 0;
  margin: 30px 0;
  width: 100%;
  display: block;
}
.stepper > ul li {
  list-style: none;
  float: left;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  position: absolute;
  left: 0;
  background: #666;
  cursor: pointer;
  font-size: .875rem;
}

.stepper > ul li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  box-sizing: border-box;
  padding: .3em 10px;
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
}

.stepper > ul li:hover {
  background-color: #999999;
}
.stepper > ul li.current,
.stepper > ul li.complete {
  transition: all 0.2s ease;
}
.stepper > ul li.current {
  background-color: #1ba1e2;
}
.stepper > ul li.current:hover {
  background-color: #00ccff;
}
.stepper > ul li.complete {
  background-color: #60a917;
}
.stepper > ul li.complete:hover {
  background-color: #7ad61d;
}
.stepper.cycle li {
  border-radius: 50%;
}
.stepper.diamond li {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.stepper.diamond li:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.stepper > ul > li > label{
	position: absolute;
	text-align: center;
	font-weight: bold;
}

.stepper > ul > li > label:first-child{
	margin-top: -3em;
	width: 20em;
	margin-left: -9em;
}

.stepper > ul > li > label:last-child{
	margin-top: 3em;
	width: 20em;
	margin-left: -9em;
}

.jumbotron{
  width: 100%;
}