.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 225px;
    min-height: 200px;
    padding-top: 75px;
    background-size: cover;
    background-position: center center;
}



@-webkit-keyframes slide_out {
	0%{
		margin-left: 0%;
	}
	50%{
		margin-left: -50%;
	}
	100%{
		margin-left: -100%;
	}
}

@-webkit-keyframes slide_in {
	0%{
		margin-left: 100%;
	}
	50%{
		margin-left: 50%;
	}
	100%{
		margin-left: 0%;
	}
}


#introduction{
	-webkit-animation-name: slide_in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
}

#question{
	-webkit-animation-name: slide_in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
}