{% extends "courses/index.html" %}


{% load i18n %}

{% block title %}{% trans "Course list" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'courses:course_list' %}" class="breadcrumb-item" >
		<i class="fa fa-list"></i> {% trans "Courses" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Course list" %}{% endblock %}

{% block content %}
	<div class="row pr-1">
	{% for course in object_list %}
		<div class="col-md-4 pr-0 pb-1">
			<div class="card text-xs-center p-0 h-100">
				<a href="{% url 'courses:course_detail' slug=course.slug %}">
				<div class="card-header h4 text-success">
					<i class="fa fa-tree"></i>
					{{ course }}
				</div>
				</a>
				<div class="card-block">
					<p class="text-xs-left text-muted">{{ course.description|safe|escape }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="row">
		{% include "base/_paginate.html" %}
	</div>
	{% include "courses/imports/latex.html" %}
{% endblock %}