{% extends "courses/index.html" %}


{% load i18n %}

{% block title %}{% trans "Course list" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'courses:course_list' %}" class="breadcrumb-item" >
		<i class="fa fa-list"></i>
		{% trans "Courses" %}
	</a>
{% endblock %}

{%  block page_title %}{% trans "Course list" %}{% endblock %}

{% block content %}
	<div class="row pr-1">
	{% for course in object_list %}
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 pr-0">
			<div class="card card-hover">
				<a href="{% url 'courses:lesson_list' course.slug %}">
					<img class="card-img-top w-100 p-1" src="{{ course.icon.url }}" alt="Card image cap">
				</a>
				<div class="card-block text-xs-center p-0">
					<h4 class="card-title text-primary">{{ course }}</h4>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="row">
		{% include "base/_paginate.html" %}
	</div>
{% endblock %}