{% extends 'forum/topic/list.html' %}

{% load i18n humanize %}

{% block title %}
	{{ topic }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'forum:topic_detail' category_slug=category.slug slug=topic.slug %}" class="breadcrumb-item" >
		<i class="fa fa-hashtag"></i>
		{{ topic }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ topic }}
{% endblock %}

{% block content %}
	{% include "base/_form.html" %}
	<hr class="divider"></hr>
	<table class="table table-bordered table-hover text">
		<thead>
			<tr>
				<th>{% trans "User" %}</th>
				<th>{% trans "Text" %}</th>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Options" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for comment in page_obj %}
				<tr>
					<td>{{ comment.user }}</td>
					<td>{{ comment.text }}</td>
					<td>{{ comment.date|naturaltime }}</td>
					<td>
						{% ifequal comment.user request.user  %}
						<a href="#" class="btn btn-primary btn-sm">
							<i class="fa fa-edit"></i>					
						</a>
						<a href="#" class="btn btn-danger btn-sm">
							<i class="fa fa-remove"></i>
						</a>
						{% endifequal %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td class="text-xs-center">{% trans "No comment found!" %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include "base/_paginate.html" %}
{% endblock %}