{% extends "forum/topic/list.html" %}

{% load static i18n humanize %}

{% block title %}{{ topic.title }}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'forum:topic_detail' slug=topic.slug %}" class="breadcrumb-item" >
		<i class="fa fa-hashtag"></i>
		{{ topic.title }}
	</a>
{% endblock %}


{% block content %}
	<div class="col-md-3">
		<div class="row">
		{% include 'forum/topic/sidebar_categories.html' %}		
		</div>
	</div>
	<div class="col-md-9">
		{% include 'forum/topic/_render.html' %}	
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'base/imports/latex.html' %}
{% endblock %}