{% extends 'forum/topic/list.html' %}

{% load i18n %}

{% block title %}
	{% trans "Form Topic" %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'forum:topic_add' category_slug=category.slug" class="breadcrumb-item" >
		<i class="fa fa-hashtag"></i>
		{% trans "Form Topic" %}
	</a>
{% endblock %}

{%  block page_title %}
	{% trans "Form Topic" %}
{% endblock %}

{% block content %}	
	
	<div class="col-xs-12 col-sm-4 col-md-3 text">
		{% include 'forum/category/list.html' %}
	</div>

	<div class="col-xs-12 col-sm-8 col-md-9">

		<div class="col-md-8">
			<form class="full-width" action="#" method="post" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
			{% csrf_token %}
				{% include 'base/_fields.html' %}
				
				{% with form=comment_form %}
					{% include 'base/_fields.html' %}
				{% endwith %}
		
				<div class="float-xs-right">
					<button type="submit" tabindex="{{ form.visible_fields|length|add:1 }}" class="btn btn-primary">{% trans "Save" %}</button>
				</div>
			</form>
		</div>

		<div class="col-md-4 text">
			<label>{% trans "Preview is shown here:" %}</label>
			<div id="MathPreview" style="border:1px solid; padding: 3px; width:100%; margin-top:5px"></div>
			<div id="MathBuffer"  style="border:1px solid; padding: 3px; width:100%; margin-top:5px; visibility:hidden;"></div>

			<div id="MathPreview2" style="border:1px solid; padding: 3px; width:100%; margin-top:5px"></div>
			<div id="MathBuffer2"  style="border:1px solid; padding: 3px; width:100%; margin-top:5px; visibility:hidden;"></div>
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/select2.html" %}
	{% include "base/imports/latex_preview.html" with id='id_title' id_preview='MathPreview' id_buffer='MathBuffer'  %}
	{% include "base/imports/latex_preview.html" with id='id_text' id_preview='MathPreview2' id_buffer='MathBuffer2'  %}
{% endblock %}