{% extends "ask/lesson/detail.html" %}

{% load i18n %}

{% block title %}
	{% trans "Questions" %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:answer_question' issue_slug=issue.slug lesson_slug=lesson.slug %}" class="breadcrumb-item" >
		<i class="fa fa-question"></i>
		{% trans "Questions" %}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with lesson=lesson %}
		Questions of {{ lesson }}
	{% endblocktrans %}
{% endblock %}

{% block content %}
	{% if question %}
		
		{% if question.introduction %}
			{% trans "Introduction" as INTRODUCTION_TITLE %}
			{% include 'base/_modal.html' with id="introduction" title=INTRODUCTION_TITLE body=question.introduction.text %}
		{% endif %}
		
		<div class="col-md-6">
			<p class="lead">
				{{ question.text }}
			</p>
			<form action="#" method="post">
				{% csrf_token %}
				{{ form.as_p }}
			<div class="row">
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-check"></i>
						{% trans "Reply" %}
					</button>
					</form>
					<button type="button" class="btn btn-info {% if not question.help %}disabled{% endif %}" data-toggle="modal" data-target="#help">
						<i class="fa fa-exclamation"></i>
						{% trans "Help" %}
					</button>
				</div>
			</div>
			<div class="row">
				<details>
					<summary class="tag tag-warning">
						{% trans "Statistics of question" %}
					</summary>
					<dl>
						<dt>{% trans "Answers" %}:</dt>
						<dd>{{ answers_amount }}</dd>
						
						<dt>{% trans "Corrects" %}:</dt>
						<dd>{{ answers_corrects }}</dd>
					</dl>
				</details>
			</div>
		</div>
		
		<div class="col-md-6">
			
		</div>
		{% if question.help %}
			{% trans "Help" as HELP_TITLE %}
			{% include 'base/_modal.html' with id="help" title=HELP_TITLE body=question.help %}
		{% endif %}

	{% else %}
		<div class="jumbotron">
			<div class="container-fluid">
				<p class="lead">{% trans "No found questions." %}</p>
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block scripts %}
	{{ block.super }}

	{% if question.introduction %}
	<script type="text/javascript">
		$("#introduction").modal('show');
	</script>
	{% endif %}
{% endblock %}