{% extends "ask/lesson/detail.html" %}

{% load i18n %}

{% block title %}
	{% trans "Questions" %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:answer_question' course_slug=course.slug lesson_slug=lesson.slug %}" class="breadcrumb-item" >
		<i class="fa fa-question"></i>
		{% trans "Questions" %}
	</a>
{% endblock %}

{%  block page_title %}
	{{ lesson }}
{% endblock %}

{% block content %}
	<progress class="progress progress-warning progress-striped progress-animated" value="{{ percent_completed }}" max="100" aria-describedby="example-caption-6">
		<div class="progress">
			<span class="progress-bar" style="width: 25%;"></span>
		</div>
	</progress>
	{% if question %}
		
		{% if question.introduction %}
		<div id="introduction" class="jumbotron">
			<div class="container-fluid">
				<p class="lead text-xs-center">{{ question.introduction.text }}</p>
				<div class="text-xs-center">
					<button id="next" class="btn btn-success">
						{% trans "Next" %}
						<i class="fa fa-angle-double-right"></i>
					</button>
				</div>
			</div>
		</div>
		<style type="text/css">
			#question{
				display: none;
			}
		</style>
		{% endif %}

		<div id="question">
			<div class="container">
				<p class="lead">
					{{ question.text }}
				</p>
				<form action="#" method="post">
					{% csrf_token %}
					{{ form.as_table }}
				<div class="row">
					<div class="btn-group" role="group">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-check"></i>
							{% trans "Reply" %}
						</button>
						</form>
						<button type="button" class="btn btn-info {% if not question.help %}disabled{% endif %}" data-toggle="modal" data-target="#help">
							<i class="fa fa-exclamation"></i>
							{% trans "Help" %}
						</button>
					</div>
				</div>
			</form>
		</div>
		{% if question.help %}
			{% trans "Help" as HELP_TITLE %}
			{% include 'base/_modal.html' with id="help" title=HELP_TITLE body=question.help %}
		{% endif %}

	{% else %}
		<div class="jumbotron">
			<div class="container-fluid">
				<p class="lead">{% trans "No found questions." %}</p>
			</div>
		</div>
	{% endif %}

{% endblock %}