{% load static %}

<div class="main-search-container search-container-js hidden">
    <form action="" method="get" class="search-form-js search-form">
        <input class="search-input" type="text" placeholder="I am looking for..." name="term" />
        <p class="type-js selected" data-type="1">By Name</p>
        <p class="type-js" data-type="2">By Location</p>
        <input type="hidden" name="type" class="form-type-js" value="1" />
        <input type="reset" value="Reset" class="reset-btn"/>
        <input type="submit" value="Search" class="red-btn" />
        <img class="cross-icon clear-js" src="{% static 'img/cross.png' %}">
    </form>
</div>