{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "base/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-flex.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/packages/bootstrap-4.0.0-alpha.5/dist/css/bootstrap-grid.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/packages/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/packages/metro/metro.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/css/accessibility.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "base/css/fonts.css" %}" />

<link rel="stylesheet" type="text/css" media="all" href="{% static "base/css/base.css" %}" />