{% load i18n %}

{% now "Y" as current_year %}

<footer class="footer">
    <div class="container">
        <nav class="pull-left">
			<ul>
				<li>
					<a href="{% url 'base:about' %}">{% trans "About" %}</a>
				</li>
				<li>
					<a href="{% url 'base:terms' %}">{% trans "Terms of Use" %}</a>
				</li>
				<li>
					<a href="{% url 'base:privacy' %}">{% trans "Privacy Policy" %}</a>
				</li>
				<li>
					<a href="{% url 'base:contact_us' %}">{% trans "Contact us" %}</a>
				</li>
				<li>
					<form action="{% url 'set_language' %}" method="POST">
						{% csrf_token %}
						<select name="language" style="width: 80px;">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %} title="{{ language.name }}"> 
									{{ language.code }}
								</option>
							{% endfor %}
						</select>
					</form>
				</li>
			</ul>
        </nav>
        <div class="copyright pull-right">
        	&copy; 2016-{{ current_year }}, {{ site_author }}
        </div>
    </div>
</footer>