{% load static %}

<script src="{% static "base/packages/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "base/packages/tether.min.js" %}"></script>
<script src="{% static "base/packages/bootstrap-4.0.0-alpha.5/js/bootstrap.min.js" %}"></script>

<script src="{% static "base/packages/material-kit/assets/js/material.min.js" %}"></script>
<script src="{% static "base/packages/material-kit/assets/js/material-kit.js" %}"></script>

<script src="{% static "base/packages/cookies.js" %}"></script>
<script src="{% static "base/js/accessibility.js" %}"></script>
<script src="{% static "base/js/base.js" %}"></script>