{% load i18n static %}

{% trans "Whether you are in college or in NASA laboratories, join the community of students who take the AskMath. There are several lessons and tutorials video for free for you." as description %}
{% trans "Education,Mathematics,University" as keywords %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta itemprop="name" content="AskMath"/>
<meta name="author" content="Ciano Saraiva"/>
<meta name="description" content="{{ description }}"/>
<meta name="keywords" content="{{ keywords }}"/>
<meta name="robots" content="index, follow"/>

<!-- OpenGraph Protocol -->
<meta property="og:title" content="AskMath"/>
<meta property="og:site_name" content="AskMath"/>
<meta property="og:type" content="Virtual Enviroment Teaching"/>
<meta property="og:url" content="www.askmath.quixada.ufc.br"/>
<meta property="og:description" content="{{ description }}"/>

<meta property="og:image" content="{% static 'img/social.png' %}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="600">

<!--  Favicon -->
<link xmlns="http://www.w3.org/1999/xhtml" rel="icon" type="image/png" id="favicon" href="{% static 'base/img/favicon.png' %}" />

<!-- Canonical -->
<link rel="canonical" href="http://www.askmath.quixada.ufc.br" />