{% load i18n static base_tags %}

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll navbar-primary">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand p-0" href="{{ url_home }}" target="_self">
				<div class="logo-container">
					<div class="logo">
						<img src="{% static 'base/img/logo.png' %}" alt="{% trans 'Site Logo' %}" rel="tooltip" 
							title="
								{% blocktrans with site=site_name author=site_author %}
									<b>{{ site }}<sup>TM</sup></b> was Designed & Coded by <b>{{ author }}</b>
								{% endblocktrans %}" 
							data-placement="right" data-html="true">
					</div>
					<div class="brand">
						{{ site_name }}
					</div>
				</div>
			</a>
			<button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbar-header">
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<ul id="navbar-header" class="nav navbar-nav navbar-toggleable-xs collapse float-xs-right">
			{% if request.user.is_authenticated %}
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user-circle"></i>
					{{ request.user.get_full_name  }}
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="{% url 'authentication:account_detail' pk=request.user.pk %}">
						<i class="fa fa-user"></i>
						{% trans "Profile" %}
					</a>
					<a class="dropdown-item" href="{% url 'authentication:account_password_change' %}">
						<i class="fa fa-key"></i>
						{% trans "Change password" %}
					</a>
					<a class="dropdown-item" href="{% url 'authentication:account_logout' %}">
						<i class="fa fa-sign-out"></i>
						{% trans "Logout" %}
					</a>
				</div>
			</li>
			{% include "gamification/bar.html" %}
			{% else %}
				<li class="nav-item">
					<a href="{% url 'authentication:account_login' %}" class="nav-link">
						<i class="fa fa-sign-in"></i>
						{% trans "Login" %}
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'authentication:account_register' %}" class="nav-link">
						<i class="fa fa-user-plus"></i>
						{% trans "Sign-Up" %}
					</a>
				</li>
			{% endif %}
			<li class="nav-item">
				{% comment %}
				<a href="{% url 'blog:post_list' %}" class="nav-link" alt="{% trans 'Blog' %}" title="{% trans 'Blog' %}">
					<i class="fa fa-comments"></i>
				</a>
				{% endcomment %}
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" alt="{% trans 'Accessibility' %}" title="{% trans 'Accessibility' %}">
					<i class="fa fa-universal-access"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="#" class="dropdown-item disable-contrast" id="button-contrast" accesskey="1" title="{% trans "On/Off High Contrast - Shortcut #1" %}">
						[1] {% trans "High Contrast" %}
					</a>
					<a href="#" class="dropdown-item" id="increase-font" accesskey="2" title="{% trans "Increase Font - Shortcut #2" %}">
						[2] {% trans "Increase Font" %}
					</a>
					<a href="#" class="dropdown-item" id="decrease-font" accesskey="3" title="{% trans "Decrease Font - Shortcut #3" %}">
						[3] {% trans "Decrease Font" %}
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>