{% extends "ask/lesson/list.html" %}

{% load i18n %}

{% block title %}
	{{ lesson }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:lesson_detail' course_slug=course.slug slug=lesson.slug %}" class="breadcrumb-item" >
		<i class="fa fa-puzzle-piece"></i>
		{{ lesson }}
	</a>
{% endblock %}

{%  block page_title %}
	{{ lesson }}
{% endblock %}

{% block content %}
		<div class="container-fluid">
			<p class="lead text-justify">{{ lesson.description }}</p>
			<a href="{% url 'ask:answer_question' course_slug=course.slug lesson_slug=lesson.slug %}" type="button" class="btn btn-success" role="button" >
				<i class="fa fa-question"></i>
				{% trans "Questions" %}
			</a>
			<a href="{% url 'ask:video_list' course_slug=course.slug lesson_slug=lesson.slug %}" type="button" class="btn btn-info" role="button">
				<i class="fa fa-film"></i>
				{% trans "Videos" %}
			</a>
		</div>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include "base/imports/latex.html" %}
{% endblock %}