{% extends "ask/course/list.html" %}


{% load i18n %}

{% block title %}
	{{ course }}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'ask:lesson_list' course.slug %}" class="breadcrumb-item" >
		<i class="fa fa-leaf"></i>
		{{ course }}
	</a>
{% endblock %}

{%  block page_title %}
	{% blocktrans with course=course %}
		Lessons of {{ course }}
	{% endblocktrans %}
{% endblock %}

{% block content %}
	{% for level, lessons in object_list.iteritems %}
		<div class="row flex-items-xs-center">
			{% for lesson in lessons %}
			<a href="{% url 'ask:lesson_detail' course_slug=course.slug slug=lesson.slug %}" class="tile {{ lesson.color }}">
				<div class="tile-content {% if lesson.icon %}image-set{% else %}iconic{% endif %}">
					{% if lesson.icon %}
						<img src="{{ lesson.icon.url }}" style="width: 100%;">
					{% else %}
						<span class="icon fa fa-puzzle-piece"></span>
					{% endif %}
				</div>
				<span class="tile-label">{{ lesson }}</span>
			</a>
			{% endfor %}
		</div>
	{% endfor %}

	{% include "base/_paginate.html" %}
{% endblock %}