{% load i18n%}

<ul class="list-group">
	<a href="{% url 'forum:topic_add' %}" class="list-group-item list-group-item-action bg-success text-white">
		<i class="fa fa-plus"></i>
		{% trans "New Topic" %}
	</a>
</ul>
</br>
<ul class="list-group">
	<div class="list-group-item list-group-item-action active">
		{% trans "Topics" %}
	</div>
	<li class="list-group-item">
		<a href="{% url 'forum:topic_list' %}">{% trans "All" %}</a>
	</li>
	{% for category in categories %}
	<li class="list-group-item">
		<a href="{% url 'forum:topic_list' %}?{% trans "category" %}={{ category.slug }}">{{ category }}</a>
	</li>
	{% endfor %} 
</ul>