html, body {
	height: 100%;
	background-color: #fff;
	font-family: -apple-system, Roboto ,Arial,sans-serif !important;
}

.header{
    background-image: url('/static/base/img/header_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 0px 1px 0px;
}


.sidebar, .sidebar > .sidebar-item{
	width: 100%;
	margin-right: 5px;
	font-weight: bold;
	color: #0275d8;
}

.sidebar-item.active{
	color: #fff;
}

.alert{
	margin-bottom: 0px;
}

.breadcrumb{
	background-color: inherit;
	margin: 0em;
}

.breadcrumb > .breadcrumb-item:last-child{
	color: #818a91;
}

.text{
	background-color: #fff;
	padding: 10px;
}

/* DEFINITION */
dl.definition{
	width: 100%;
}

dl.definition > dt, dl.definition > dd{
	padding: 10px;
	border-top: 1px solid #eee;
}

/* CARD */
.card{
	border: 1px solid #ddd;
}


ul.errorlist > li{
	color: red;
}

hr.divider{
	padding: 0px;
	margin-bottom: 10px solid #eee;
}

.hide{
	display: none;
}

span.select2-selection--multiple{
	width: 100% !important;
}

.tag-sm{
	font-size: .6em;
}

.jumbotron{
  width: 100%;
  margin-bottom: 0em;
  background-color: transparent;
}

/* Links */
a {
	text-decoration: underline;
}

nav a , ul a{
	text-decoration: none;
}

.form-control{
	max-width: 400px;
}