{% extends "base/_base.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="#">{% trans 'Server error' %}</a>
{% endblock %}

{% block title %}500{% endblock %}

{% block page_title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<p>{% trans "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</p>

{% endblock %}
