{% load i18n static js_reverse %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html 
	lang="{{ LANGUAGE_CODE|default:"en-us" }}"
	itemscope=""
	itemtype="http://schema.org/Organization"
	xmlns:og="http://opengraphprotocol.org/schema/"
	xmlns:fb="http://www.facebook.com/2008/fbml"
	class="modernizr-no-touchevents modernizr-flexbox modernizr-no-flexboxtweener">
<head>
	{% include 'blocks/meta.html' %}
	
	<title>AskMath - {% block title %}{% endblock %}</title>
	
	{% block css %}
		{% include 'blocks/css.html' %}	
	{% endblock %}
	
	{% block stylesheet %}

	{% endblock %}

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
	<![endif]-->
</head>
{% load i18n %}

<body class="{% block page_type %}components-page{% endblock %}">
	{% include 'blocks/no_script.html' %}

	{% block navbar  %}
		{% include "blocks/navbar.html" %}
	{% endblock %}

	<div class="wrapper">

		{% block site %}

		<div class="header header-filter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="title h2 text-xs-center mb-0">{%  block page_title %}{% endblock %}</h1>
						<h2 class="title h3 text-xs-center mt-0">{%  block page_subtitle %}{% endblock %}</h2>
					</div>
				</div>
			</div>
		</div>

		<section id="content" class="main main-raised p-1">
			<div class="section-basic">
				{% block two_header %}
				<nav id="breadcrumb" class="breadcrumb">
			        {% block breadcrumbs %}
			        <a href="{% url 'ask:home' %}" class="breadcrumb-item" >
						<i class="fa fa-home" aria-hidden="true"></i>
						{% trans "Home" %}
					</a>
			 	   {% endblock %}
				</nav>
				{% endblock %}
				
				{% block messages %}
					{% include 'blocks/messages.html' %}
				{% endblock messages %}

				<div class="container-fluid">
					<div class="row">
					{% block content %}

					{% endblock %}
					</div>
				</div>
			</div>
		</section>
		{% endblock %}
	</div>


	{% block footer %}
		{% include "blocks/footer.html" %}
	{% endblock %}

	{% block js %}
		{% include 'blocks/js.html' %}
	{% endblock %}

	{% block scripts %}
		<script type="text/javascript" src="{% url 'base:javascript-catalog' %}"></script>
		<script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>
	{% endblock %}
</body>
</html>