{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html 
	lang="{{ LANGUAGE_CODE|default:"en-us" }}"
	itemscope=""
	itemtype="http://schema.org/Organization"
	xmlns:og="http://opengraphprotocol.org/schema/"
	xmlns:fb="http://www.facebook.com/2008/fbml"
	class="modernizr-no-touchevents modernizr-flexbox modernizr-no-flexboxtweener">
<head>
	{% include 'blocks/meta.html' %}
	
	<title>AskMath - {% block title %}{% endblock %}</title>
	
	{% block css %}
		{% include 'blocks/css.html' %}	
	{% endblock %}
	
	{% block stylesheet %}

	{% endblock %}

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
	<![endif]-->
</head>
{% load i18n %}

<body>
	{% include 'blocks/no_script.html' %}

	{% block header  %}
	<header id="header">
		{% include "blocks/header.html" %}
	</header>
	{% endblock %}

	{% block two_header %}
	<nav id="breadcrumb" class="breadcrumb">
        {% block breadcrumbs %}
        <a href="{% url 'ask:home' %}" class="breadcrumb-item" >
			<i class="fa fa-home" aria-hidden="true"></i>
			{% trans "Home" %}
		</a>
 	   {% endblock %}
	</nav>
	{% endblock %}
	
	{% block messages %}
	<section id="messages" class="container-fluid">
		{% include 'blocks/messages.html' %}
	</section>
	{% endblock messages %}

	{% block site %}
	<section id="content" class="container-fluid">
		<h1 class="h4 text-xs-center text-sm-center text-md-center page-title">
			{%  block page_title %}{% endblock %}
		</h1>
		<div class="page-container">
			<div class="container-fluid">
				<div class="row">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
	</section>
	{% endblock %}


	{% block footer %}
	<footer id="footer">
		{% include "blocks/footer.html" %}
	</footer>
	{% endblock %}

	{% block js %}
		{% include 'blocks/js.html' %}
	{% endblock %}

	{% block scripts %}
		<script type="text/javascript" src="{% url 'base:javascript-catalog' %}"></script>
	{% endblock %}
</body>
</html>