{% load i18n static js_reverse %}

{% get_current_language as LANGUAGE_CODE %}

{% trans 'Whether you are in college or in NASA laboratories, join the community of students who take the AskMath. There are several lessons and tutorials video for free for you.' as meta_description %}

<!DOCTYPE html>
<html 
	lang="{{ LANGUAGE_CODE|default:"en-us" }}"
	itemscope=""
	itemtype="http://schema.org/Organization"
	xmlns:og="http://opengraphprotocol.org/schema/"
	xmlns:fb="http://www.facebook.com/2008/fbml"
	class="modernizr-no-touchevents modernizr-flexbox modernizr-no-flexboxtweener">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="{% block meta_author %}Ciano Saraiva{% endblock %}"/>
	<meta name="description" content="{% block meta_description %}{{ meta_description }}{% endblock %}"/>
	<meta name="keywords" content="{% block meta_keywords %}{% trans 'Education,Mathematics,University' %}{% endblock %}"/>
	<meta name="robots" content="index, follow"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- OpenGraph Protocol -->
	{% block opengraph %}
		{% include 'blocks/opengraph.html' %}
	{% endblock %}
	
	<title>AskMath - {% block title %}{% endblock %}</title>
	
	{% block css %}
		{% include 'blocks/css.html' %}	
	{% endblock %}
	
	{% block stylesheet %}

	{% endblock %}

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
	<![endif]-->
</head>
{% load i18n %}

<body class="components-page">
	{% include 'blocks/no_script.html' %}

	{% block navbar  %}
		{% include "blocks/navbar.html" %}
	{% endblock %}

	<div class="wrapper">

		{% block site %}

		<div class="header header-filter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="title h2 text-xs-center mt-0">{%  block page_title %}{% endblock %}</h1>
					</div>
				</div>
			</div>
		</div>

		<section id="content" class="main main-raised">
			<div class="section-basic">
				{% block two_header %}
				<nav id="breadcrumb" class="breadcrumb">
			        {% block breadcrumbs %}
			        <a href="{% url 'ask:home' %}" class="breadcrumb-item" >
						<i class="fa fa-home" aria-hidden="true"></i>
						{% trans "Home" %}
					</a>
			 	   {% endblock %}
				</nav>
				{% endblock %}
			</div>
			<div class="section-basic p-1">
				<div class="container-fluid">
				{% block messages %}
					{% include 'blocks/messages.html' %}
				{% endblock messages %}
				</div>

				<div class="container-fluid">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</section>
		{% endblock %}
	</div>

	{% block footer %}
		{% include "blocks/footer.html" %}
	{% endblock %}

	{% block modals %}

	{% endblock %}

	{% block js %}
		{% include 'blocks/js.html' %}
	{% endblock %}

	{% block scripts %}
		<script type="text/javascript" src="{% url 'base:javascript-catalog' %}"></script>
		<script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>
	{% endblock %}
</body>
</html>