{% load i18n %}
{% load base_tags %}

{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

<fieldset class="module aligned">
{% for field in form.visible_fields %}
	<div class="form-row field-{{ field.field.name }}">
		<div class="field-box{% if field.name %} field-{{ field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.is_hidden %} hidden{% endif %}" >
		    {% if not field.is_readonly %}{{ field.errors }}{% endif %}
		    <label for="{{ field.auto_id }}">
				{{ field.label }}
				{% if field.field.required %}
					<span class="text-danger" data-toggle="tooltip" data-html="true" title="{% trans 'This field is required!' %}">*</span>
				{% endif %}:
			</label>
		    {% if field.is_readonly %}
	            <p>{{ field.contents }}</p>
	        {% else %}
	            {{ field }}
	        {% endif %}
		    {% if field.help_text %}
		    	<span class="help" data-toggle="tooltip"  data-html="true"  title="{{ field.help_text|safe }}"><i class="fa fa-question-circle"></i></span>
		    {% endif %}
		</div>
	</div>
{% endfor %}
</fieldset>