{% load i18n static base_tags %}

{% with parameters=request.GET|remove:'page' %}
<div class="col-md-12">
	 <ul class="pagination pagination-primary pagination-sm">
		{% for page in page_obj.paginator.page_range %}
			{% if page >= page_obj.number|add:-5 and page <= page_obj.number|add:5  %}
			<li class="page-item {% if page_obj.number == page %}active{% endif %}">
				<a class="btn btn-default btn-xs" href="?{% if parameters.urlencode %}{{ parameters.urlencode }}&{% endif %}page={{ page }}">
					{{ page }} 
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% endwith %}