{% extends "base/_base.html" %}

{% load static i18n %}

{% block title %}{% trans "Credits" %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'base:credits' %}" class="breadcrumb-item" >
		<i class="fa fa-handshake-o" target="_blank" ></i>
		{% trans "Credits" %}
	</a>
{% endblock %}

{% block page_title %}{% trans "Credits" %}{% endblock %}

{% block content %}
	<div class="row">
		<ul>
			<li>Python - <a href="https://www.python.org" target="_blank" >https://www.python.org</a></li>
			<li>Django - <a href="https://www.djangoproject.com" target="_blank" >https://www.djangoproject.com</a></li>
			<li>Django PagSeguro 2 - <a href="http://django-pagseguro-2.readthedocs.io" target="_blank" >http://django-pagseguro-2.readthedocs.io</a></li>
			<li>Django Paypal - <a href="https://django-paypal.readthedocs.io" target="_blank" >https://django-paypal.readthedocs.io</a></li>
			<li>Rosetta Package - <a href="https://pypi.python.org/pypi/django-rosetta" target="_blank" >https://pypi.python.org/pypi/django-rosetta</a></li>
			<li>Python Social Auth - <a href="http://psa.matiasaguirre.net/docs/index.html" target="_blank" >http://psa.matiasaguirre.net/docs/index.html</a></li>
			<li>Django REST framework - <a href="http://www.django-rest-framework.org" target="_blank" >http://www.django-rest-framework.org</a></li>
			<li>PostgreSQL - <a href="http://www.django-rest-framework.org" target="_blank" >http://www.django-rest-framework.org</a></li>
			
			<li>Bootstrap - <a href="https://getbootstrap.com" target="_blank" >https://getbootstrap.com</a></li>
			<li>Metro Ui CSS - <a href="https://metroui.org.ua" target="_blank" >https://metroui.org.ua</a></li>
			<li>Material Kit - <a href="https://github.com/timcreative/material-kit" target="_blank" >http://www.creative-tim.com/product/material-kit</a></li>
			<li>Jquery - <a href="https://jquery.com" target="_blank" >https://jquery.com</a></li>
			<li>WebKit - <a href="http://www.webkit.org" target="_blank" >http://www.webkit.org</a></li>
			<li>MathJax - <a href="https://www.mathjax.org" target="_blank" >https://www.mathjax.org</a></li>
			<li>Web Animation - <a href="https://github.com/web-animations/web-animations-js" target="_blank" >https://github.com/web-animations/web-animations-js</a></li>
			<li>Select2 - <a href="https://select2.github.io" target="_blank" >https://select2.github.io</a></li>
		</ul>
	</div>
{% endblock %}
