{% load i18n %}

<p class="lead">
	{{ question.text }}
</p>
<form action="{% url 'courses:question_verification' course_slug=course.slug lesson_slug=lesson.slug pk=question.pk %}" method="post">{% csrf_token %}
	{{ form.as_p }}
	<div class="btn-group" role="group">
		<button type="submit" class="btn btn-success">
			<i class="fa fa-check"></i>
			{% trans "Reply" %}
		</button>
		{% if question.help %}
		<a href="#" class="btn btn-info {% if not question.help %}disabled{% endif %}" data-toggle="modal" data-target="#help">
			<i class="fa fa-exclamation"></i>
			{% trans "Help" %}
		</a>
		{% endif %}
	</div>
</form>

{% if question.help %}
	{% trans "Help" as HELP_TITLE %}
	{% include 'base/_modal.html' with id="help" title=HELP_TITLE body=question.help %}
{% endif %}