{% load i18n %}

<p class="lead">
	{{ question.text }}
</p>
<form action="{% url 'courses:question_verification' course_slug=course.slug lesson_slug=lesson.slug pk=question.pk %}" method="post">{% csrf_token %}
	{{ form.as_p }}
	<div class="btn-group" role="group">
		<button type="submit" class="btn btn-success">
			<i class="fa fa-check-square-o"></i>
			{% trans "Verify" %}
		</button>
		{% if question.clue %}
		<a href="#" class="btn btn-info {% if not question.clue %}disabled{% endif %}" data-toggle="modal" data-target="#clue">
			<i class="fa fa-exclamation-circle"></i>
			{% trans "Clue" %}
		</a>
		{% include 'base/_modal.html' with id="clue" title=_("Clue") body=question.clue %}
		{% endif %}
	</div>
</form>