{% extends "courses/lesson/list.html" %}

{% load i18n %}

{% block title %}
	{{ lesson.name }}
{% endblock %}

{%  block page_title %}
	{{ lesson.name }}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<a href="{% url 'courses:lesson_detail' course_slug=course.slug slug=lesson.slug %}" class="breadcrumb-item" >
		<i class="fa fa-leaf"></i>
		{{ lesson.name }}
	</a>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<progress class="progress progress-warning" value="{{ percentage }}" max="100" style="height: 20px;">
				<div class="progress">
					<span class="progress-bar" style="width: 25%;"></span>
				</div>
			</progress>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		{% if learning_object.question %}
			{% include 'courses/lesson/renders/question.html' with question=learning_object.question %}
		{% endif %}
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-12">
			<div class="text-xs-center">
				<a href="?previous=true" class="btn btn-danger">
					<i class="fa fa-angle-left"></i>
					{% trans "Previous" %}
				</a>
				<button class="btn btn-xs disabled">
					{{ learning_object.position }}
				</button>
				<a href="?next=true" class="btn btn-success">
					{% trans "Next" %}
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	{% include "courses/imports/latex.html" %}
{% endblock %}